 <!--Page Title-->
    <section class="page-title" style="background-image:url(images/background/6.jpg)">
    	<div class="auto-container">
        	<h1>Update My Profile</h1>
            <ul class="page-breadcrumb">
            	<li><a href="index.html">Home</a></li>
                <li>Update My Profile</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->
    
    <div class="sidebar-page-container">
    	<div class="auto-container">
        	<div class="row clearfix">
            	
                <!--Content Side / Our Blog-->
                <div class="content-side col-lg-9 col-md-8 col-sm-12 col-xs-12">
                <div class="sidebar-title"><h2>Update My Profile</h2></div>
                
                        <!--Comments Area-->
                        <div class="comments-area">
                            <!-- Comment Form -->
                        <div class="comment-form">
                            <div class="form-inner">
                                <!--Comment Form-->
                                <form method="post" action="#">
                                    <div class="row clearfix">
                                    
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>You have registered as:</label><br />
                                            <input type="text" value="Person" name="" required="" class="read-only" readonly="" />
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>You Are:</label><br />
                                            <select name="">
                                                <option value="Student">Student</option>
                                                <option value="Professional">Professional</option>
                                                <option value="job seeker">Job Seeker</option>
                                                <option value="freelancer">Freelancer</option>
                                            </select>
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>First Name:</label><br />
                                            <input type="text" value="Sujood" name="" required="" />
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>Last Name:</label><br />
                                            <input type="text" value="Malkawi" name="" required="" />
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>E-mail:</label><br />
                                            <input type="email" value="contact@consultox.com" name="" required="" />
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>LinkedIn URL:</label><br />
                                            <input type="url" value="www.linkedin.com" name="" required="" />
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>Date of Birth:</label><br />
                                            <input type="date" value="" name="" required="" />
                                        </div>
                                        
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 form-group">
                                            <label>Mobile Number:</label><br />
                                            <input type="text" value="1800 456 7890" name="" required="" />
                                        </div>
                                        
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                            <button class="theme-btn btn-style-two" type="submit" name="submit-form">Save Update</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
					</div>
                    
                </div>
                
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                	<aside class="sidebar">
						
                        <!-- Search -->
                        <div class="sidebar-widget search-box">
                        	<form method="post" action="#">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Enter Search Keywords" required=""/>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
						</div>
                        
                        
                        <div class="upper-column info-box">
                            <a href="#" class="theme-btn btn-style-two establish">Establish New Project</a>
                        </div>
                    
                    
                        <!-- Popular Tags -->
                        <div class="sidebar-widget hvr-bounce-to-bottom sidebar-border">
                            <h3 style="color: #fff;">Participate in the upcoming projects.</h3>
                            <br />
                            <a href="#" class="theme-btn btn-style-five">Participate</a>
                        </div>
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>Welcome Sujood,</h2>
                            </div>
                            <ul class="cat-list">
                                <li><a href="#"><i class="fa fa-folder"></i>My Projects</a></li> 
                                <li><a href="#"><i class="fa fa-edit"></i>Establish New Project</a></li>
                                <li><a href="#"><i class="fa fa-share"></i>Join The Existing Projects</a></li>
                                <li><a href="#"><i class="fa fa-send"></i>Participate Upcoming Projects</a></li>
                                <li><a href="#"><i class="fa fa-bell"></i>Notifications</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>Messages</a></li>
                                <li><a href="#"><i class="fa fa-user"></i>My Profile</a></li>
                                <li><a href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                
            </div>
        </div>
    </div>
    